/* Horizontal Slider Styles */
.hor-slider {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .hor-slider article {
    color: white;
    text-shadow: 1px 1px 3px rgba(51, 51, 51, 0.5);
    right: 0;
    /*default at right*/
    background: #b37774;
    padding: 42px;
    padding-left: 20px; }
    .hor-slider article.left {
      left: 0; }
      .hor-slider article.left h1 {
        text-align: left; }
    .hor-slider article.right {
      right: 0; }
  .hor-slider section {
    display: block;
    height: 100vh;
    position: relative;
    min-height: 1px;
    float: left; }

.hor-slider-wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }

/* Force Hardware Acceleration in WebKit with translate3d */
.HSlider {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  backface-visibility: hidden; }

/*# sourceMappingURL=style.css.map */
